body {
    background-color: #f0f7d4;
}

h1 {
    background-color: #4424d6;
    color: #b2d732;
    text-align: center;
}

h2 {
    background-color: #4424d6;
    color: #b2d732;
    text-align: center;
}

h3 {
    background-color: #4424d6;
    color: #b2d732;
    text-align: center;
}

h4 {
    background-color: #4424d6;
    color: #b2d732;
    text-align: center;
}

p {
    color: #110934;
    font-style: italic;
    font-size: 30px;
}

ul li {
    font-weight: bold;
    font-size: 25px;
}

ol li {
    color: #fc600a;
    font-size: 20px;
}

img {
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 8px;
}